.App {
  min-height: 100vh; /* Full viewport height */
  max-width: 100vw; /* Full viewport width */
  background-color: #e2e8f0; /* Slate 200 */
  overflow-x: hidden; /* Prevent horizontal overflow */
}
